body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
    
}

/* header section */

.header{
    color: #e5e7eb  ;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin: 20px 50px 0 50px;
    
}
.header-logo,
.call-bold {
    font-size: 24px;
    font-weight: 700;
}

.header-links{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a,
.footer-text {
    text-decoration: none;
    color: #e5e7eb;
}

/* placeholder section */

.image-section {
    color: #e5e7eb;
    display: flex;
    margin-top: 100px;
    gap: 20px;
    justify-content: space-between;
    margin: 100px 50px 0 50px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    font-weight: 1000;
}

.image-text {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    flex: 1;
    margin-right: 80px;
}

.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #6441a5;
    color: #f9faf8;
}

.image-placehold {
    flex: 1;
    padding: 0px;
    background: grey;
    text-align: center;
    justify-content: center;
}

/* logo/game section */

.games-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: white;
    border-right: 50px;   
    align-items: stretch;
    margin-top: 80px; 
    padding: 15px 50px 20px 50px
}

.games-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #1f2937;
    margin: 30px 0 20px 0;
}

.game-backgrounds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.icon-text{
    width: 180px;
    font-size: 14px;
    text-align: center;
}

.pikmin-icon{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 180px;
}


/* quote section! */

.quote-section {
    background-color: #e5e7eb;
    padding: 30px 150px 20px 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quote-para {
    font-size: 32px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0 0 10px 0;
}

.quote-caption {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

/* footer */

.call-to-action {
    background-color: white;
    display: flex;
    padding: 50px;
    justify-content: center
}

.call-box{
    background-color: #6441a5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.call-sign-up {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #6441a5;
    color: #f9faf8;
    margin: 20px;
}

.call-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}
.call-bold {
    margin: 0;
}
.support-text {
    margin: 0;
}

.footer {
    text-align: center;
}
