body {
    background-color: #096a13;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
    
}

a {
    text-decoration: none;
}
/* header section */

.header{
    min-height: 130px;
    background-image: url("images/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #e5e7eb;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.page-icon{
    height:130px;
    margin-left: 100px;
    margin-bottom: -3.75px
    

}
.header-logo,
.call-bold {
    font-size: 24px;
    font-weight: 700;
}

.header-links{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #1f2937;
    justify-content: center;
    list-style: none;
    gap: 15px;
    margin-right: 100px;
}

.socials,
.footer-text {
    font-size: 24px;
    text-decoration: none;
    color: #1f2937;
}

/* placeholder section */

.image-section {
    max-width: 1000px;
    color: #e5e7eb;
    display: flex;
    margin-top: 100px;
    gap: 20px;
    align-self: center;
    margin: 100px 100px 0 100px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    font-weight: 1000;
}

.image-text {
    display: flex;
    font-size: 18px;
    flex-direction: column;
    flex: 1;
    margin-right: 80px;
}

.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #6441a5;
    color: #f9faf8;
}

.image-placehold {
    flex: 1;
    padding: 0px;
    background: grey;
    text-align: center;
    justify-content: center;
}

/* logo/game section */

.games-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: white;
    border-right: 50px;   
    align-items: stretch;
    margin-top: 80px; 
    padding: 15px 50px 20px 50px
}

.games-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #1f2937;
    margin: 30px 0 30px 0;
}

.game-backgrounds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.icon-text{
    width: 220px;
    font-size: 18px;
    text-align: center;
}

.pikmin-icon{
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    width: 220px;
}


/* quote section! */

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 150px 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quote-para {
    font-size: 32px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0 0 10px 0;
}

.quote-caption {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

/* footer */

.call-to-action {
    background-color: white;
    display: flex;
    padding: 50px;
    justify-content: center
}

.call-box{
    min-width: 800px;
    background-color: #6441a5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.call-sign-up {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #6441a5;
    color: #f9faf8;
    margin: 20px;
}

.call-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}
.call-bold {
    margin: 0;
}
.support-text {
    margin: 0;
}

.footer {
    text-align: center;
}
